body{
    
    font: Arial,Helvetica,sans-serif;
}

#container {
    width: 1050px;
/*    border: 1px solid grey;*/
    margin: 0 auto;
}
#header {
    height: 100px;
    padding:10px 0px;
}
#brand{
    float: left;
}
h1 a {
  font-size: 500px;
    font-weight: 100px;
    color: #861BBF;
    text-decoration: none;
}

#searchBox{
    
    background: linear-gradient(#E4F2B9,#B7E953);
    background: -webkit-linear-gradient(#E4F2B9,#B7E953);
    background: -o-linear-gradient(#E4F2B9,#B7E953);
    background: -moz-linear-gradient(#E4F2B9,#B7E953);
    background: -ms-linear-gradient(#E4F2B9,#B7E953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    margin: 20px;
    float: right;
    
    
    
}

.text {
    width: 200px;
    padding: 5px;
    font-size: 15px;
    float:left;
    color: #E36A06;
    background: white url(images/search.png) right center no-repeat; 
    border: 1px solid #C8D035;
}

.submit {
    padding: 5px;
    color: white;
    font-weight: bold;
    background: #A751D6;
    font-size: 15px;
    float: right;
}

.clear {
    clear: both;
    
}

ul {
    list-style: none;
}

#menu ul li{
    
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
    
    
}

#menu {
    height: 70px;
    background: linear-gradient(#F8F594,#D5D533);
    background: -webkit-linear-gradient(#F8F594,#D5D533);
    background: -o-linear-gradient(#F8F594,#D5D533);
    background: -ms-linear-gradient(#F8F594,#D5D533);
    background: -moz-linear-gradient(#F8F594,#D5D533);
    padding: 7px 0px;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    line-height: 30px;
    -webkit-transition: fint-size 0.3s ease;
    -moz-transition: fint-size 0.3s ease;
    -o-transition: fint-size 0.3s ease;
    -ms-transition: fint-size 0.3s ease;
    transition: fint-size 0.3s ease;     
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a:hover,#menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: #B314DB;
}
#introduction{
    background: linear-gradient(#E5F2BB,#B7E952);
    background: -webkit-linear-gradient(#E5F2BB,#B7E952);
    background: -o-linear-gradient(#E5F2BB,#B7E952);
    background: -ms-linear-gradient(#E5F2BB,#B7E952);
    background: -moz-linear-gradient(#E5F2BB,#B7E952);
    padding: 30px;
    margin: 16px 0;
    
}
#introduction h3{
    font-size: 45px;
    color:#316901;
    font-weight: normal;
}
#introduction p{
    font-size: 25px;
    color: #628F19;
    text-align: justify;
    
}
#leftsidebar {
    float: left;
}

#rightsidebar {
    float: right;
}

.sidebar {
    width: 450px;
    height: 500px;
    padding: 10px 30px;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    
}
.sidebar h3{
    font-size: 30px;
    color:#B314DB;
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color:#5d12e7;
     -webkit-transition: fint-size 0.3s ease;
    -moz-transition: fint-size 0.3s ease;
    -o-transition: fint-size 0.3s ease;
    -ms-transition: fint-size 0.3s ease;
    transition: fint-size 0.3s ease;     

}
.sidebar ul li a:hover,.sidebar ul li a.active{
    text-decoration: none;
    color:#B314DB;
    font-size: 23px;
    font-weight: bold;
   
}
#leftsidebar ul{
    
    padding-top: 8px;
}
#leftsidebar ul li{
    padding: 6px 0px 6px 10px;
    list-style-image:url(images/arrow.png); 

}
#rightsidebar ul{
    padding-top: 8px;
}
#rightsidebar ul li{
    padding: 15px 0px 15px 15px;
    list-style-image:url(images/tick.png); 

}
.footer{
    height: 60px;
    background:linear-gradient(#F6F390,#D5D533);
     background:-webkit-linear-gradient(#F6F390,#D5D533);
     background:-o-linear-gradient(#F6F390,#D5D533);
     background:-ms-linear-gradient(#F6F390,#D5D533);
     background:-moz-linear-gradient(#F6F390,#D5D533);
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 10px;
}